<div class="container container--is-flex">
    <div class="navbar">
        <span class="navbar__title">miitch.io</span>
        <div class="navbar__items">
            <span class="navbar__item" routerLinkActive="navbar__item--is-active" [routerLink]="['/home']">Home</span>
            <span class="navbar__item" routerLinkActive="navbar__item--is-active" [routerLink]="['/projects']">Projects</span>
            <span class="navbar__item">Experience</span>
            <span class="navbar__item">Contact</span>
        </div>
    </div>
</div>
