<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
      <a class="navbar-brand" [routerLink]="['']">{{ title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav justify-content-center d-flex flex-fill">
              <li class="navbar__item" *ngFor="let link of links" [ngClass]="{'navbar__item--is-active': link.active}">
                  <a class="nav-link" [routerLink]="[link.route]">{{ link.title }}</a>
              </li>
          </ul>
      </div>
  </nav>
</div>
