html
	height: 100%

body
	background: linear-gradient(90deg, #56c1de 0%, #45d2bf 100%)
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	color: white
	user-select: none

.header
	margin-top: 10rem

	&__title
		color: #ffffff
		font-size: 3rem
		font-weight: bold
