body
	background: linear-gradient(90deg, #56c1de 0%, #45d2bf 100%)
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	color: white

.header
	margin-top: 10rem
	min-height: 850px
	margin-bottom: 8rem

	&__title
		color: #ffffff
		font-size: 3rem
		font-weight: bold

.section
	margin-bottom: 6rem
	min-height: 300px

	&__title
		letter-spacing: 0.1rem
