.navbar
    margin-top: 30px

    &__title
        color: #ffffff
        font-size: 3rem
        transition: 0.2s
        margin-right: 110px
        font-family: 'Dubai Medium'
        &:hover
            color: darken(#ffffff, 10%)
            cursor: pointer

    &__item
        font-family: 'Dubai Light'
        color: #ffffff
        font-size: 2rem